[submodule "modules/zotero"]
	path = modules/zotero
	url = git@github.com:zotero/zotero.git
[submodule "modules/utilities"]
	path = modules/utilities
	url = git@github.com:zotero/utilities.git
[submodule "modules/--force"]
	path = modules/--force
	url = git@github.com:zotero/utilities.git
